html{
    height: 100%;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100%;
}

form.form-1 {
    width: 200px;
    height: 100px;
    border: 1px solid black;
    padding: 15px;
    display: flex;
    border-radius: 10px;
}

input.input {
   width: 150px;
   height: 30px;
    margin: 0 auto;
    border-radius: 10px;
}

.bg-blue {
    background-color: blue;
}

.form-2 {
    width: 200px;
    height: 170px;
    border: 1px solid black;
    padding: 15px;
   
    border-radius: 10px;
}

.inp {
    margin-top: 9px;
    width: 190px;
}

span.error{
    color: red;
}

.inp-error {
    border: 1px solid red;
}

.div-colors {
    
        width: 200px;
        height: 200px;
        margin: 50px;
        border: 1px solid black;
    
}