html{
    height: 100%;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100%;
}

.square {
    width: 200px;
    height: 200px;
    background-color: green;
}

.bg-blue {
    background-color: blue;
}

.big-square {
    width: 400px;
    height: 400px;
}

.small-square {
    width: 100px;
    height: 100px;
}