.big-square {
    height: 800px;
    width: 800px;
    border: 1px solid #000;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    
}

.black{
    width: 100px;
    height: 100px;
    background: #000;
}
.white{
    width: 100px;
    height: 100px;
    background: #fff;
}